html {
    background-image: url("images/bg.png");
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

ul li a {
    color: goldenrod;
    font-size: 12px;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    float: left;
    text-decoration: none;
}

ul li a:hover {
    color: white;
    transform: scale(1.25);
}

#logo {
    transition: 0.3s;
    border-radius: 100%;
}

#logo:hover {
    transform: scale(1.1);
}

#container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.szoveg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /*background-color: rgba(255, 255, 255, 0.575);*/
    border-radius: 10%;
    text-align: justify;
}

.picContainer {
    position: relative;
    text-align: center;
    color: black;
    display: inline-block;
    border-radius: 25%;
}

.pic {
    width: 350px;
    height: 350px;
    transition: 0.5s;
    margin: 20px;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.2);
}

#upButton {
    width: 100%;
    background-color: white;
    border-radius: 100%;
}

#upDiv {
    width: 3%;
    position: none;
    bottom: 0px;
    right: 0px;
    transition: 0.3s;
    display: none;
}

#upDiv:hover {
    transform: scale(1.1)
}

#bigPic {
    width: 30%;
}

#bigDiv {
    width: 90%;
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(95, 89, 89, 0.89);
    display: none;
}

#bigDesc {
    position: fixed;
    width: 60%;
    right: 10%;
    top: 5%;
    text-align: justify;
}

#closePic {
    width: 3%;
    position: fixed;
    right: 0%;
    top: 0%;
    border-radius: 100%;
    transition: 0.25s;
}

#closePic:hover {
    transform: scale(1.2);
}

.valto:hover {
    color: goldenrod;
    transform: scale(1.1);
}

.valto {
    transition: 0.5s;
    color: white;
}

#indexDiv {
    position: fixed;
    display: block;
    width: 60%;
    transform: translate(50%, 50%);
    right: 50%;
    top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.kozepre {
    text-align: center;
}

.feher {
    color: white;
}

.arany {
    color: goldenrod;
}

#creators {
    bottom: 0%;
    left: 1%;
    text-align: center;
    position: fixed;
}

#alcim {
    width: 15%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: sans-serif;
    top: 13%;
    position: absolute;
    left: 43%;
}

#alcim:hover {
    color: goldenrod;
    transform: scale(1.1);
}

input {
    text-align: center;
    background-color: lightgray;
}

#blogMsg {
    width: 500px;
    height: 200px;
    resize: none;
    background-color: lightgray;
}

#blogDiv {
    bottom: 1%;
    vertical-align: bottom;
    position: fixed;
}

.creators {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.creators:hover {
    background-color: gray;
}

#mainAlcim {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}