html {
    background-image: url("adamBG.gif");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

h1 {
    font-size: 120px;
    color: transparent;
    font-family: sans-serif;
    text-align: center;
    top: 7%;
    position: absolute;
    left: 17%;
    transform: rotate(-1deg);
    transition: 0.5s;
    font-family: Helvetica, Arial;
    font-style: italic;
    text-shadow: 1px 1px 0 #000000;
    -webkit-animation: rainbowdropshadow 5s infinite;
    animation: rainbowdropshadow 5s infinite;
}

h1:hover {
    color: white;
}

@-webkit-keyframes rainbowdropshadow {
    0% {
      text-shadow: 1px 1px 0 #FF0000, 2px 2px 0 #FF7F00, 3px 3px 0 #FFFF00;
    }
    8% {
      text-shadow: 1px 1px 0 #FF7F00, 2px 2px 0 #FFFF00, 3px 3px 0 #7FFF00;
    }
    16% {
      text-shadow: 1px 1px 0 #FFFF00, 2px 2px 0 #7FFF00, 3px 3px 0 #00FF00;
    }
    25% {
      text-shadow: 1px 1px 0 #7FFF00, 2px 2px 0 #00FF00, 3px 3px 0 #00FF7F;
    }
    33% {
      text-shadow: 1px 1px 0 #00FF00, 2px 2px 0 #00FF7F, 3px 3px 0 #00FFFF;
    }
    41% {
      text-shadow: 1px 1px 0 #00FF7F, 2px 2px 0 #00FFFF, 3px 3px 0 #007FFF;
    }
    50% {
      text-shadow: 1px 1px 0 #00FFFF, 2px 2px 0 #007FFF, 3px 3px 0 #0000FF;
    }
    58% {
      text-shadow: 1px 1px 0 #007FFF, 2px 2px 0 #0000FF, 3px 3px 0 #7F00FF;
    }
    66% {
      text-shadow: 1px 1px 0 #0000FF, 2px 2px 0 #7F00FF, 3px 3px 0 #FF00FF;
    }
    75% {
      text-shadow: 1px 1px 0 #7F00FF, 2px 2px 0 #FF00FF, 3px 3px 0 #FF007F;
    }
    83% {
      text-shadow: 1px 1px 0 #FF00FF, 2px 2px 0 #FF007F, 3px 3px 0 #FF0000;
    }
    91% {
      text-shadow: 1px 1px 0 #FF007F, 2px 2px 0 #FF0000, 3px 3px 0 #FF7F00;
    }
    100% {
      text-shadow: 1px 1px 0 #FF0000, 2px 2px 0 #FF7F00, 3px 3px 0 #FFFF00;
    }
}
  